body {
    /* min-width: 1143px; */
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #2b3541;
    background-color: #FEFCFE;
}

.wrapper {
    max-width: 1817px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid red;
}

.timetable-section,
.mailing-section,
.events-section,
.about-section {
    padding-bottom: 145px;
}

/* Стили для nav */

.wide-container {
    margin: 0 auto;
    width: 1817px;
    border: 1px solid red;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 20px;

}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-right: 37em;
    align-items: center;
    border: 1px solid violet;
}

.nav-item {
    padding: 5px 27px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

}

.nav-link:hover {
    border-bottom: 1px solid #2b3541;
    padding-bottom: 15px;
    transition: 0.2s color ease;
}

.nav-aside {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.nav-social {
    list-style-type: none;
    background-color: #FEFCFE;
    border: none;
    padding: 10px;
    width: 50%;
    height: 30px;
}

.nav-social:hover {
    transition: 0.2s color ease;
    cursor: pointer;
    transform: scale(1.2);
}


/* Стили для section promo */

.promo {
    margin: 0 0 0 339px;
    width: 1325px;
    height: 852px;
    padding-bottom: 145px;
    border: 1px solid red;
}

.main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 243px;
}

.promo-description {
    font-size: 40px;
    line-height: 125%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.promo-clarification {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    margin: 0;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    background: #FBF138;
    color: #2B3541;
    padding: 20px 30px;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 5em;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: #2B3541;
    color: #FBF138;
    transition: 0.2s color ease;
    cursor: pointer;
}

.btn-flat {
    border: 1px transparent;
}

.promo {
    background: url(../files/@1x/Image\ 1\ screen.png) top right/996px 852px no-repeat;
}

.arrow {
    padding-top: 133px;
    padding-bottom: 0;
    margin-left: 76px;
}

/* Стили для section-events */

.wrapper-standart {
    margin: 0 auto;
    max-width: 1143px;
    border: 1px solid red;
}

.events {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;

}

.section-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    padding: 20px 0;
    margin: 0;
}

.data {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    opacity: 0.6;
    padding-left: 23px;
    padding-top: 25px;
    margin: 0 auto;
}

.events-description {
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    padding-left: 23px;
    padding-top: 25px;
}

.marathon {
    background: url(../files/@1x/maraphon.png) top right/367px 600px no-repeat;
    border: 1px solid red;
}

.marathon:hover {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.2s color ease;
    cursor: pointer;
}

.trainer {
    background: url(../files/@1x/Vebinar\ 1.png) top right/367px 600px no-repeat;
    border: 1px solid red;
}

.yoga {
    background: url(../files/@1x/Vebinar\ 2.png) top right/367px 600px no-repeat;
    border: 1px solid red;
}

.btn-min {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 355px;
    margin-left: 201px;
    margin-bottom: 0;
}

/* Стили для timetable-training */

.timetable-training {
    display: flex;
    justify-content: space-between;
}


.timetable-data {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #010101;
    opacity: 0.7;
    align-self: flex-end;
}

.timetable-data p {
    padding-left: 20px;
}

.timetable-heading {
    font-weight: 700;
}

.training {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #2B3541;
    padding: 20px 30px;
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

.training:hover {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    transition: 0.2s color ease;
    cursor: pointer;
}

.timetable-image {
    margin-top: 20px;
    margin-bottom: 10px;
}



.timetable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
    grid-template-areas: "a b c""d b e""d f e";
    gap: 15px;
    margin: 0;
    padding: 20px 0;
}

.ui-tooltip {
    box-shadow: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    max-width: 306px;
    padding-top: 50px;
}

/* стили для section-mailing */

.mailing {
    background: #F3F3F3;
    text-align: center;
    margin: 0;
    padding: 20px;
    position: relative;
    z-index: 0;
}

.circle {
    width: 101px;
    height: 101px;
    position: absolute;
    z-index: -1;
    left: 280px;
    top: calc(50% - 95px);
}

.form {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.3;
}

input {
    padding: 19px;
    border: none;
    margin-bottom: 10px;
    background-color: #ffffff;
}

form input:focus {
    outline: none;
}

.mailing-description,
.mailing-personal {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    opacity: 0.5;
    color: #2B3541;
}

.mailing-personal,
.mailing-description {
    display: block;
    margin: 0;
    flex-basis: 8%;
}

.mailing-personal>a {
    text-decoration: none;
}

.mailing-personal>a:hover {
    border-bottom: 1px solid #2B3541;
    transition: 0.2s color ease;
    padding-bottom: 5px;
}

.check-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* стили для section-about */

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.btn-about {
    margin-left: 0;
}

.about-02 {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;

}

.advanteges-item {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    padding: 10px 30px 10px 0;
}

.advanteges-item:nth-child(4) {
    align-self: flex-end;
    padding-right: 5px;
}

/* стили для footer */

.footer {
    background: #F3F3F3;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    padding-right: 26em;
}

.footer-aside {
    display: flex;
    justify-content: space-between;
}

.circle-footer {
    height: 42px;
    position: absolute;
    z-index: -1;
    top: calc(50% - 24px);

}

.footer-aside-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;

}

.aside-link {
    padding-top: 20px;
    padding-right: 150px;

}

.footer-aside-link:hover {
    transition: 0.2s color ease;
    border-bottom: 1px solid #2B3541;
}

.aside-social {
    border: none;
    padding: 15px 15px;
    width: 50%;
    height: 30px;
}

.aside-social:hover {
    transition: 0.2s color ease;
    cursor: pointer;
    transform: scale(1.2);
}

.footer-left {
    list-style-type: none;
}

.left-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #2B3541;

}

.footer-left-item {
    padding: 5px 27px;
}

.left-link:hover {
    border-bottom: 1px solid #2b3541;
    padding-bottom: 10px;
    transition: 0.2s color ease;
}

.footer-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;

}

.footer-link:hover {
    border-bottom: 1px solid #2B3541;
    transition: 0.2s color ease;
}